@page "/tutors"

@inject ApplicationDbContext ApplicationDbContext

<h3>Korepetytorzy</h3>

<select class="form-select" @bind="SubjectFilter">
    <option selected value="-1">None</option>
    @foreach (var subject in Subjects)
    {
        <option value="@subject.Id">@subject.Name</option>
    }
</select>

<br/>

@foreach (var tutor in TutorsList)
{
    <div class="bg-body-tertiary p-3 rounded-2 d-flex flex-column gap-3">
        <div class="d-flex flex-row align-items-center gap-3">
            <img class="img-thumbnail rounded-circle" src="data:image/png;base64, @(tutor.UserImageBase64)" width="48"/>
            <h4>@(tutor.Username)</h4>
        </div>
        <div>
            <i>Specjalizacja w przedmiotach: </i>
            <b>@string.Join(", ", tutor.Subjects)</b>
        </div>
    </div>
    <br/>
}